// Px to Rem
@function rem($pixels, $context: $font-size-global) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

// Breakpoints
@mixin breakpoint($bp, $rule: min-width) {
  @if map-has-key($breakpoints, $bp) {
    @media screen and (#{$rule}: map-get($breakpoints, $bp)) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint name `#{$bp}`.";
  }
}

// Z-indexes (thanks Eric Bailey)
@function get-z-index($index) {
  @return map-get($z-index, $index);
}

// Content wrapper
@mixin content-wrapper($spacing: horizontal) {
  margin: 0 auto;
  max-width: 60rem;

  @if $spacing == "horizontal" {
    padding: 0 $spacing-base;
  }

  @if $spacing == "vertical" {
    padding: $spacing-base 0;
  }

  @if $spacing == "all" {
    padding: $spacing-base;
  }
}
