body {
  color: $text-color-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h1 {
  font-size: $font-size-large;
  max-width: 35ch;

  @include breakpoint("small") {
    font-size: $font-size-x-large;
  }
}

h2,
.topic-overline {
  font-family: $font-family-mono;
  font-size: $font-size-x-small;
  font-weight: $font-weight-bold;
  letter-spacing: $spacing-x-small;
  margin-top: 0;
  text-transform: uppercase;

  &:after {
    border-bottom: 1px solid;
    content: "";
    display: block;
    margin-top: $spacing-small;
    width: $spacing-x-large;
  }
}

p {
  margin: 0;
}

a:not([class]) {
  border-style: solid;
  border-width: 0 0 2px 0;
  border-image: linear-gradient(to left, $gradient-sunrise);
  border-image-slice: 1;
  color: $offblack;
  cursor:pointer;
  display: inline-block;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  text-decoration: none;
  transition: $transition-fast ease border-width;

  &:hover {
    animation: disco-color 2s forwards infinite;
    border-color: rgba(0, 0, 0, 0);
    border-image: none;

    @media screen and (prefers-reduced-motion: reduce) {
      animation: none;
      color: $disco-purple
    }
  }
}

.cta--primary {
  background-image: linear-gradient(to right, white 50%, $gradient-sunset);
  background-size: 300% 100%;
  border: 1px solid $disco-purple;
  color: $disco-purple;
  display: inline-block;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;
  margin: $spacing-base 0;
  padding: $spacing-base $spacing-x-large;
  text-decoration: none;
  transition: $transition-base ease all;

  &:hover {
    animation: disco-background 2s forwards infinite;
    box-shadow: $spacing-small $spacing-small 0 0 white, calc(#{$spacing-small} + 1px) calc(#{$spacing-small} + 1px) 0 0 $disco-purple;
    background-position: 100%;
    color: $offwhite;
  }
}

strong {
  font-weight: $font-weight-bold;
}

abbr[title] {
  text-decoration: none;
}

time {
  font-weight: $font-weight-bold;
}

address {
  font-style: normal
}

small {
  font-family: $font-family-mono;
}
