body {
  color: $text-color-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h1 {
  font-size: $font-size-large;
  max-width: 35ch;

  @include breakpoint("small") {
    font-size: $font-size-x-large;
  }
}

h2,
.topic-overline {
  font-family: $font-family-mono;
  font-size: $font-size-x-small;
  font-weight: $font-weight-bold;
  letter-spacing: $spacing-x-small;
  margin-top: 0;
  text-transform: uppercase;
}

p {
  margin: 0;
}

a {
  border-style: solid;
  border-width: 0 0 2px 0;
  border-image: linear-gradient(to left, $gradient-sunrise);
  border-image-slice: 1;
  color: $offblack;
  cursor:pointer;
  display:inline-block;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  text-decoration: none;
  transition: $transition-base ease all;

  &:hover {
    animation: disco-hover 2s forwards infinite;
    border-image: linear-gradient(to left, transparent, transparent);

    @media screen and (prefers-reduced-motion: reduce) {
      animation: none;
      color: $disco-purple
    }
  }
}

.cta--primary {
  background-color: transparent;
  border: 2px solid $disco-purple;
  color: $disco-purple;
  letter-spacing: 1px;
  margin: $spacing-base 0;
  padding: $spacing-base $spacing-x-large;
  transition: $transition-base ease all;

  &:hover {
    animation: none;
    background-color: $disco-purple;
    color: $offwhite;
  }
}

strong {
  font-weight: $font-weight-bold;
}

abbr[title] {
  text-decoration: none;
}

time {
  font-weight: $font-weight-bold;
}
