// Typography
$base-font-family: "calibre-regular", $font-stack-system;
$heading-font-family: "calibre-medium", $font-stack-system;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$charcoal-gray: #3d3e44;
$dark-gray: #333;
$dusk-gray: #adadad;
$gray: #979797;
$light-gray: #e6e6e6;
$red: #ed3e44;
$soft-white: #fafafa;
$twitter-blue: #1da1f2;
$white: #fff;

// Font Colors
$base-font-color: $charcoal-gray;
$action-color: $blue;

// Font Size
$base-font-size: 1rem;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
