// Bourbon settings
$bourbon: (
  "global-font-file-formats": ("woff2", "woff"),
);

// Breakpoints
$breakpoints: (
  small: 50em,
  large: 80em
);

// Font stacks
$font-family-base: "WorkSans", $font-stack-system;
$font-family-mono: "RobotoMono", $font-stack-consolas;

// Font weights
$font-weight-normal: 400;
$font-weight-bold: 700;

// Line heights
$line-height-base: 1.5;
$line-height-tight: 1;

// Font sizes
$font-size-global: 16px;

$font-size-xx-small: rem(10px);
$font-size-x-small: rem(12px);
$font-size-small: rem(14px);
$font-size-base: rem($font-size-global);
$font-size-medium: rem(20px);
$font-size-large: rem(28px);
$font-size-x-large: rem(36px);

// Spacing
$spacing-base: 1rem;
$spacing-x-small: $spacing-base / 4;
$spacing-small: $spacing-base / 2;
$spacing-medium: $spacing-base * 1.5;
$spacing-large: $spacing-base * 2;
$spacing-x-large: $spacing-base * 2.5;
$spacing-xx-large: $spacing-base * 4;

// Transition timing
$transition-base: 0.3s;

// Border radius
$border-radius-base: 4px;
$border-radius-medium: 8px;

// Colors
$offblack: #222;
$offwhite: #efefef;
$rust: #922f21;
$seafoam: #73b7b4;
$disco-purple: #82327b;
$teal: #277b75;

// Text Colors
$text-color-base: $offblack;
$text-color-inverse: $offwhite;

// Gradients
$gradient-sunrise: $rust, $seafoam;
$gradient-sunset: $disco-purple, $rust;

// Subhead colors
$color-list-subheads: $disco-purple, $teal, $rust;

// Z-Indexes
$z-index: (
  basement: -999999,
  layout: 1000,
  object: 2000,
  component: 3000,
  subcomponent: 3010,
  modal: 4000,
  submodal: 4010,
  ceiling: 999999,
);
