.footer {
  align-self: end;
  background-color: $offblack;
  padding: $spacing-large 0;

  @include breakpoint("small") {
    box-shadow: -($spacing-base) $spacing-base 0px $spacing-base $offblack;
  }
}

.footer__overline {
  color: $text-color-inverse;
  text-align: center;
  margin-bottom: $spacing-base;
}

.footer__list {
  display: flex;
  justify-content: center;
}

.footer__item {
  display: inline-flex;
  padding: 0 $spacing-small;

  &:not(:first-of-type) {
    &::before {
      align-items: center;
      color: rgba($offwhite, 0.5);
      content: "+";
      display: flex;
      padding-right: $spacing-base;
    }
  }
}

.footer__link {
  display: block;
  background-clip: padding-box, border-box;
  background-image: linear-gradient($offblack, $offblack), radial-gradient(circle at top left, $gradient-sunset);
  background-origin: border-box;
  background-size: 100% 300%;
  border: 4px solid $offblack;
  border-radius: $border-radius-medium;
  padding: $spacing-small;
  transition: $transition-base ease all;

  &:hover {
    background-image: linear-gradient(rgba($offblack, 0.8), rgba($offblack, 0.8)), radial-gradient(circle at top left, $gradient-sunset);
    border-color: transparent;
  }
}

.footer__image {
  max-height: $spacing-large;
  transition: $transition-base ease filter;

  .footer__link:hover & {
  }
}
