$_media-height: 100vh;

.hero {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);

  @include breakpoint("small") {
    height: 0vh; // Trick to keep split view sticky in grid
    grid-template-columns: auto;
    grid-template-rows: auto;
    position: sticky;
    top: 0;
  }

  @include breakpoint("large") {
    height: auto;
    position: static;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
  }

  &::before,
  &::after {
    content: "";
    display: block;
    opacity: 0.35;

    @include breakpoint("large") {
      opacity: 0.75;
    }
  }

  &::before {
    background-image: linear-gradient(to bottom, $gradient-sunrise);
    display: none;

    @include breakpoint("large") {
      display: block;
      grid-column: 1 / 4;
      grid-row: 1 / 4;
    }
  }

  &::after {
    background-image: linear-gradient(to bottom, $gradient-sunset);
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    margin: $spacing-base;

    @include breakpoint("small") {
      margin: 0;
    }

    @include breakpoint("large") {
      grid-column: 7 / 8;
      grid-row: 3 / 5;
      transform: translateY($spacing-x-large);
    }
  }
}

.hero__media {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  position: relative;
  margin: $spacing-base;
  z-index: get-z-index("basement");

  @include breakpoint("small") {
    height: $_media-height;
    margin: 0;

    &::after {
      @include position(absolute, 0);
      background-image: linear-gradient(to top, $offblack 20%, rgba($offblack, 0));
      content: "";
      display: block;
    }
  }

  @include breakpoint("large") {
    height: auto;
    grid-column: 2 / 8;
    grid-row: 1 / 5;
  }

  img {
    @include size(100%);
    min-height: $_media-height / 3;
    object-fit: cover;
    object-position: 75%;

    @include breakpoint("small") {
      object-position: 50%;
    }
  }
}

.hero__content {
  @include content-wrapper("all");
  background-color: white;
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  position: relative;
  z-index: get-z-index("layout");

  @include breakpoint("small") {
    background-color: transparent;
    color: $text-color-inverse;
    grid-column: 1 / 2;
    grid-row: 3 / 3;
  }

  @include breakpoint("large") {
    grid-column: 3 / 6;
    grid-row: 4 / 5;
    margin-top: auto;
  }
}
