<section>
  <div class="about-us-container">
    <div class="about-us-content">
      <div class="about-us-details">
        <p class="about-us-title">About us</p>
        <p class="about-us-description">
          The Boston Ruby Group is a community of Ruby language enthusiasts.
          We hold monthly meetups on the second Tuesday of the month with two
          long-form talks. We also have a project night on the first Tuesday of
          the month.
        </p>
        <div class="about-us__cta">
          <%= link_to("Join the Community", "https://www.meetup.com/bostonrb/", target: "_blank") %>
        </div>
      </div>
    </div>
    <div class="about-us-image"></div>
  </div>
</section>
