<section class="about">
  <p class="about__content">The Boston Ruby Group is a community of Ruby language enthusiasts. We hold monthly meetups on the second Tuesday of the month with two long-form talks. We also have a project night on the first Tuesday of the month.</p>
</section>
