<section class="events">
  <ul class="events__list">
    <li class="events__item">
      <h2>Our next event</h2>
      <p class="events__item-title">Meeting</p>

      <p><time datetime="2018-02-03">February 3, 2018</time></p>
      <p><time datetime="2018-02-03 18:45">6:45PM</time> to <time datetime="2018-02-03 20:00">10:00PM</time></p>

      <address>
        ezCater <br>
        101 Arch St, 15th Floor <br>
        Boston, MA
      </address>

      <p>
        <%= link_to(
          "RSVP",
          "#",
          class: "cta--primary"
        )%>
      </p>
      <p>
        <%= link_to(
          "See all events",
          "https://www.meetup.com/bostonrb/events/",
        )%>
      </p>
    </li>

    <li class="events__item">
      <h2>Project Nights</h2>
      <small class="events__description">First Tuesday of every month</small>
      <p>Get help with Rails, hack on some open source, and meet other Ruby enthusiasts.</p>
    </li>

    <li class="events__item">
      <h2>Meetings</h2>
      <small class="events__description">Second Tuesday of every month</small>
      <p>Listen to two long-form talks about something cool created with Ruby.</p>
    </li>
  </ul>
</section>
