<section class="events">
  <ul class="events__list">
    <li class="events__item" data-role="upcoming-event">
      <h2>Our next event</h2>
      <%= render "upcoming_event", event: @upcoming_event %>
    </li>

    <li class="events__item">
      <h2>Project Nights</h2>
      <small class="events__description">First Tuesday of every month</small>
      <p>
        Get help with Rails, hack on some open source, and meet other Ruby
        enthusiasts.
      </p>
    </li>

    <li class="events__item">
      <h2>Meetings</h2>
      <small class="events__description">Second Tuesday of every month</small>
      <p>
        Listen to two long-form talks about something cool created with Ruby.
      </p>
    </li>
  </ul>
</section>
