<section>
  <div class="events-container">
    <div class="events-container__item" data-role="upcoming-event-details">
      <p class="upcoming-event-header">Our next event</p>

      <%= render "upcoming_event", event: @upcoming_event %>
    </div>

    <div class="events-container__item">
      <div class="card">
        <p class="card__title">Project nights</p>
        <p class="card__header">First Tuesday of the month</p>

        <span>
          Get help with Rails, hack on some open source, meet other Ruby
          enthusiasts.
        </span>
      </div>

      <div class="card">
        <p class="card__title">Meetings</p>
        <p class="card__header">Second Tuesday of the month</p>

        <span>
          Two long-form talks about something cool created with Ruby.
        </span>
      </div>
    </div>
  </div>
</section>
