<main>
  <section class="hero">
    <h3 class="hero__tagline">
      Hang out with Ruby enthusiasts
    </h3>
    <%= link_to("Join us on Meetup.com!", "#", class: "hero__cta") %>
  </section>
</main>
