<main>
  <section class="hero">
    <h3 class="hero__tagline">
      Hang out with Ruby enthusiasts
    </h3>
    <%= link_to("Join our community!", "https://www.meetup.com/bostonrb/", target: "_blank", class: "hero__cta") %>
  </section>
</main>
