<p class="upcoming-event-title">There are no upcoming events.</p>

<p>Please check back at a later time.</p>

<div class="upcoming-event__buttons">
  <%= link_to(
    "See all events",
    "https://www.meetup.com/bostonrb/events/",
    class: "upcoming-event__button",
    target: "_blank"
  ) %>
</div>
