.about-us-container {
  display: flex;
  flex-direction: column;
  min-height: 40vh;

  @include breakpoint("medium") {
    flex-direction: row;
  }
}

.about-us-content {
  align-items: center;
  background: $red;
  display: flex;
  flex: 1;
  justify-content: center;

  @include breakpoint("medium") {
    justify-content: flex-end;
  }
}

.about-us__item {
  padding: 2rem;

  @include breakpoint("medium") {
    padding: 1rem 5rem 1rem 3rem;
  }
}

.about-us-details {
  color: $white;

  @include breakpoint("medium") {
    max-width: 25rem;
  }
}

.about-us-title {
  font-family: $heading-font-family;
  font-size: 24px;
  font-weight: 500;
}

.about-us-description {
  font-weight: 300;
  line-height: 1.8;
}

.about-us__cta {
  border-radius: 4px;
  border: 1px solid $white;
  color: $white;
  display: block;
  font-weight: 300;
  margin-top: 4rem;
  padding: 0.5rem 3rem;
  position: relative;
  text-align: center;

  a {
    color: white;
    text-decoration: none;
  }
}

.about-us-image {
  background-image: image-url("about-us.png");
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  min-height: 20vh;
}
