.card {
  background-color: $soft-white;
  border: 1px solid $light-gray;
  border-radius: 4px;
  padding: 1.5rem;
  width: 430px;

   &:first-child {
     margin-bottom: 20px;
   }
}

.card__title {
  color: $red;
  font-size: 18px;
  font-weight: 500;
}

.card__header {
  color: $dusk-gray;
  font-size: 14px;
  text-transform: uppercase;
}
