.events-container {
  margin: 2rem auto;
  justify-content: center;
  max-width: 60rem;
  width: 90%;

   @include breakpoint("medium") {
      @supports (display: grid) {
        align-items: flex-end;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5rem;
    }
  }
}

.upcoming-event-content {
  display: flex;
  justify-content: center;
}

.events-container__item {
  &:not(:last-child) {
    margin-bottom: 2rem;

    @include breakpoint("medium") {
      margin-bottom: 0;
    }
  }
}

.upcoming-event-details {
  min-width: 50%;
}

.upcoming-event-header {
  color: $red;
  font-family: $heading-font-family;
  font-weight: 500;
  font-size: 24px;
  margin-top: 1.5rem;
}

.upcoming-event-title {
  font-weight: bold;
}

.upcoming-event-date {
  padding-bottom: 2rem;
}

.upcoming-event__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;

  @supports (display: grid) {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

.upcoming-event__button {
  align-items: center;
  border: 1px solid $light-gray;
  border-radius: 4px;
  color: $red;
  display: inline-flex;
  flex: 1;
  justify-content: center;
  line-height: 1;
  padding: 0.5rem 3rem;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.events-types {
  flex: 0 1 45%;
}
