.hero {
  align-items: center;
  background: image-url("hero.png");
  background-size: cover;
  border: solid 1px $gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  min-height: 650px;
}

.hero__tagline {
  color: $white;
  font-family: $base-font-family;
  font-size: 36px;
  font-weight: 500;
  position: relative;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.hero__cta {
  background-color: $red;
  border-radius: 4px;
  color: $white;
  padding: 0.5rem 3rem;
  position: relative;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}
