.hero {
  align-items: center;
  background-image: image-url("hero.png");
  background-position: 63% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px $gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  min-height: 75vh;
  padding: 0 1rem;

  @include breakpoint("small") {
    min-height: 50vh;
  }
}

.hero__tagline {
  color: $white;
  font-family: $base-font-family;
  font-size: 36px;
  font-weight: 500;
  position: relative;
  text-align: center;
}

.hero__cta {
  background-color: $red;
  border-radius: 4px;
  color: $white;
  padding: 0.5rem 3rem;
  position: relative;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}
