<footer>
  <div class="footer">
    <p class="footer__tagline">Made possible by</p>
    <div class="footer__links">
      <%= link_to root_path do %>
        <%= image_tag("thoughtbot-logo.png", class: "footer__link") %>
      <% end %>
      <%= link_to root_path do %>
        <%= image_tag("ez-cater-logo.png", class: "footer__link") %>
      <% end %>
    </div>
  </div>
</footer>
