<footer>
  <p>Made possible by:</p>
  <ul>
    <li>
      <%= link_to "https://thoughtbot.com" do %>
        <%= image_tag("thoughtbot-logo.png") %>
      <% end %>
    </li>
    <li>
      <%= link_to "https://www.ezcater.com" do %>
        <%= image_tag("ez-cater-logo.png") %>
      <% end %>
    </li>
  </ul>
</footer>
