<footer class="footer">
  <p class="topic-overline footer__overline">Made possible by</p>
  <ul class="footer__list">
    <li class="footer__item">
      <%= link_to(
        "https://thoughtbot.com",
        class: "footer__link"
      ) do %>
        <%= image_tag("thoughtbot-logo.png", class: "footer__image") %>
      <% end %>
    </li>
    <li class="footer__item">
      <%= link_to(
        "https://www.ezcater.com",
        class: "footer__link"
      ) do %>
        <%= image_tag("ez-cater-logo.png", class: "footer__image") %>
      <% end %>
    </li>
  </ul>
</footer>
