<header class="hero">
  <picture class="hero__media">
    <source media="(min-width: 80em)" srcset="/assets/hero_1200.jpg">
    <source media="(min-width: 50em)" srcset="/assets/hero_900.jpg">
    <source media="(min-width: 1px)" srcset="/assets/hero_650.jpg">
    <img src="/assets/hero_650.jpg" alt="A group of people attending a Boston Ruby meetup.">
  </picture>

  <div class="hero__content">
    <p class="hero__overline topic-overline">Boston Ruby Group</p>
    <h1 class="hero__title">Boston Ruby Group helps you make connections, hack on projects, learn new things, and have fun with other Ruby enthusiasts.</h1>
  </div>
</header>
