<header>
  <p>Boston Ruby Group</p>
  <h1>Boston Ruby Group helps you make connections, hack on projects, learn new things, and have fun with other Ruby enthusiasts.</h1>
  <picture>
    <source media="(min-width: 900px)" srcset="/assets/hero_1200.jpg">
    <source media="(min-width: 600px)" srcset="/assets/hero_900.jpg">>
    <source media="(min-width: 1px)" srcset="/assets/hero_650.jpg">>
    <img src="/assets/hero_650.jpg"" alt="A group of people attending a Boston Ruby meetup.">
  </picture>
</header>
